@import "˜bootstrap/css/bootstrap";
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@import url('https://fonts.googleapis.com/css2? family = Advent + Pro & family = Dancing + Script: wght @ 500 & display = swap');

html,body {
    height:100%;
  }
  body {
    margin:0;
    padding:0;
    background-color:cadetblue;
    -webkit-font-smoothing: antialiased;
}
a:hover{text-decoration: none;}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}


h1 {
    font-weight: bolder;
    text-align:center;
    color:coral;
    font-size: 6em;
    margin-top: 90px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h2 {
    font-weight: bolder;
    text-align:center;
    color:darkgoldenrod;
    font-size: 6em;
    margin-top: 90px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;



}

p {
    font-weight: bolder;
    text-align:center;
    color:darkgoldenrod;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}






header.masthead {
    position: relative;
    padding-top: calc(8rem + 57px);
    margin-bottom: 3rem;
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;

}
 
header.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
    
}

footer{
    font-weight:bold;
    font-size: medium;
    font-family:'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif';
    background-color:burlywood;
    background-size: cover;
    background-attachment: scroll;
    color: black;
   
   
   
   }

   div .card {
    text-align: center;
    color:darkred;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    


   }

   img {
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);
    margin-top: 50px;
    

   }








